<html lang="ru" charset="utf-8">
    <head>
        <meta charset="UTF-8" />
        <title>Факторинг ПЛЮС</title>
        <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="style.css" rel="stylesheet" media="all">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="d-flex justify-content-center d-none" style="position:absolute;width:100%;height: 100%;">
            <div id="spinner" class="spinner-border spinner-border-sm" role="status" style="width:5rem;height:5rem;margin:auto;color:#4954DD"></div>
        </div>
        <div id="dashboard" class="carousel slide" data-ride="carousel" data-interval="false" ng-app="App" style="display: block;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container" ng-controller="Comission">
                        <div class="row">
                            <span class="col-md-4 label">ИТОГИ ДНЯ</span>
                            <div class="col-md-4 today my-auto">
                                <div class="today-icon"></div>
                                <span class="today-text">{{today}}</span>
                            </div>
                            <div class="col-md-4 product">
                                <div class="product-oval"></div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:40px;">
                            <div class="col-md-8 box1" style="margin-right:24px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="today-label">Выдано сегодня</span>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="today-sum" style="font-size: 72px;">{{comissions[0].value.toLocaleString('ru-RU')}} ₽</span>
                                        <div class="progress-bar">
                                            <div class="progress-value" style="width: {{getPercent(comissions, comissions[0].value, 'value')}}%;"></div>
                                        </div>
                                        <div ng-repeat="comission in comissions" ng-if="$index >= 1">
                                            <div class="row progress-row">
                                                <div class="col-md-6">
                                                    <span>{{comission.label}}</span>
                                                </div>
                                                <div class="col-md-6" style="text-align:right; font-weight: 700;">
                                                    <span>{{comission.value.toLocaleString('ru-RU')}} ₽</span>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="progress-bar">
                                                        <div class="progress-value" style="width: {{getPercent(comissions, comission.value, 'value')}}%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12"></div>
                            </div>
                            <div class="col-md-3 box">
                                <div class="row" style="margin-bottom: 24px;">
                                    <div class="col-md-12">
                                        <span class="today-label">Количество клиентов</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="today-label" style="font-size:14px;margin-top:24px;">всего</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="today-label" style="font-size:14px;margin-top:24px;">новых</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="s in sdelki">
                                        <span class="today-sum1">{{s.value}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="s in sdelki">
                                        <div class="progress-bar">
                                            <div class="progress-value1" style="width: {{getPercent(sdelki, s.value, 'value')}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="today-sum1" style="font-size: 12px;opacity:0.4;">шт.</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="today-sum1" style="font-size: 12px;opacity:0.4;">шт.</span>
                                    </div>
                                </div>
                                <div class="row progress-row">
                                    <div class="col-md-12">
                                        <span class="today-label">Средний чек</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="today-label" style="font-size:14px;margin-top:24px;">всего</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="today-label" style="font-size:14px;margin-top:24px;">новых</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="cursor:hand;" ng-repeat="avg in sdelki" title="{{avg.avg_cheque.toLocaleString('ru-RU')}}">
                                        <span class="today-sum1">{{(avg.avg_cheque/1000).toFixed(1)}} <span style="font-size:16px;">тыс.</span></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="s in sdelki">
                                        <div class="progress-bar">
                                            <div class="progress-value2" style="width: {{getPercent(sdelki, s.avg_cheque, 'avg_cheque')}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="today-sum1" style="font-size: 12px;opacity:0.4;">рублей</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="today-sum1" style="font-size: 12px;opacity:0.4;">рублей</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container" ng-controller="Comission">
                        <div class="row">
                            <span class="col-md-5 label" ng-click="updateData()">СВОДНЫЕ ПОКАЗАТЕЛИ</span>
                            <div class="col-md-4 today my-auto">
                            </div>
                            <div class="col-md-4 product">
                                <div class="product-oval"></div>
                            </div>
                        </div>
                        <div class="row box">
                            <div class="col-md-12">
                                <div class="row" style="height: 100px;">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <span style="font-size: 20px;font-weight: 700;">На текущий день</span>
                                        </div>
                                        <div class="row">
                                            <span style="opacity: 0.4;font-size: 14px;">{{today}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <span style="font-size: 20px;font-weight: 500;">Динамика месяца</span>
                                        </div>
                                        <div class="row">
                                            <span style="opacity: 0.4;font-size: 14px;">{{month}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <span style="font-size: 20px;font-weight: 500;">Доля рынка, %</span>
                                        </div>
                                        <div class="row">
                                            <span style="opacity: 0.4;font-size: 14px;">III квартал 2020</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="height: 140px;">
                                    <div class="col-md-3 my-auto">
                                        <span style="font-size: 24px; font-weight: 500;">Объем портфеля</span>
                                    </div>
                                    <div class="col-md-3 my-auto" ng-repeat="data in portfolio">
                                        <div class="row">
                                            <span style="font-size: 48px;color:#4954DD;" ng-bind-html="abbreviateNumber(data.value, 1)"></span>
                                        </div>
                                        <div class="row" style="height: 24px;">
                                            <div class="col-md-2" style="padding-left:0; margin-right:24px;">
                                                <span class="{{data.plan < 0 ? 'decrease' : 'increase'}}" style="font-size:14px; color:{{data.plan < 0 ? '#fa4b21' : '#67c23a'}};">{{strict(data.plan)}}%</span>
                                            </div>
                                            <div class="col-md-2" style="padding-left:0;">
                                                <span class="{{data.year < 0 ? 'decrease' : 'increase'}}" style="font-size:14px; color:{{data.year < 0 ? '#fa4b21' : '#67c23a'}};">{{strict(data.year)}}%</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2" style="padding-left:0; margin-right: 24px;">
                                                <span style="font-size:12px; opacity:0.4">к плану</span>
                                            </div>
                                            <div class="col-md-2" style="padding-left:0;">
                                                <span style="font-size:12px; opacity:0.4">за год</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- SHARE -->
                                    <div class="col-md-3 my-auto">
                                        <div class="row">
                                            <span style="font-size: 48px;color:#4954DD;" ng-bind-html="percentStyle(share[0].value)"></span>
                                        </div>
                                        <div class="row" style="height: 24px;">
                                            <div class="col-md-2" style="padding-left:0; margin-right:24px;">
                                                <span class="{{share[0].plan < 0 ? 'decrease' : 'increase'}}" style="font-size:14px; color:{{share[0].plan < 0 ? '#fa4b21' : '#67c23a'}};">{{strict(share[0].plan)}}%</span>
                                            </div>
                                            <div class="col-md-2" style="padding-left:0;">
                                                <span class="{{share[0].year < 0 ? 'decrease' : 'increase'}}" style="font-size:14px; color:{{share[0].year < 0 ? '#fa4b21' : '#67c23a'}};">{{strict(share[0].year)}}%</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2" style="padding-left:0; margin-right: 24px;">
                                                <span style="font-size:12px; opacity:0.4">к плану</span>
                                            </div>
                                            <div class="col-md-2" style="padding-left:0;">
                                                <span style="font-size:12px; opacity:0.4">за год</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of SHARE-->
                                </div>
                                <div class="row" style="height: 140px;">
                                    <div class="col-md-3 my-auto">
                                        <span style="font-size: 24px;font-weight: 500;">Общее число клиентов</span>
                                    </div>
                                    <div class="col-md-3 my-auto" ng-repeat="data in sdelki2">
                                        <div class="row">
                                            <span style="font-size: 48px;color:#4954DD;" ng-bind-html="abbreviateNumber(data.value, 1)"></span>
                                        </div>
                                        <div class="row" style="height: 24px;">
                                            <div class="col-md-2" style="padding-left:0; margin-right:24px;">
                                                <span class="{{data.plan < 0 ? 'decrease' : 'increase'}}" style="font-size:14px; color:{{data.plan < 0 ? '#fa4b21' : '#67c23a'}};">{{strict(data.plan)}}%</span>
                                            </div>
                                            <div class="col-md-2" style="padding-left:0;">
                                                <span class="{{data.year < 0 ? 'decrease' : 'increase'}}" style="font-size:14px; color:{{data.year < 0 ? '#fa4b21' : '#67c23a'}};">{{strict(data.year)}}%</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2" style="padding-left:0; margin-right: 24px;">
                                                <span style="font-size:12px; opacity:0.4">к плану</span>
                                            </div>
                                            <div class="col-md-2" style="padding-left:0;">
                                                <span style="font-size:12px; opacity:0.4">за год</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- SHARE -->
                                    <div class="col-md-3 my-auto">
                                        <div class="row">
                                            <span style="font-size: 48px;color:#4954DD;" ng-bind-html="percentStyle(share[1].value)"></span>
                                        </div>
                                        <div class="row" style="height: 24px;">
                                            <div class="col-md-2" style="padding-left:0; margin-right:24px;">
                                                <span class="{{share[1].plan < 0 ? 'decrease' : 'increase'}}" style="font-size:14px; color:{{share[1].plan < 0 ? '#fa4b21' : '#67c23a'}};">{{strict(share[1].plan)}}%</span>
                                            </div>
                                            <div class="col-md-2" style="padding-left:0;">
                                                <span class="{{share[1].year < 0 ? 'decrease' : 'increase'}}" style="font-size:14px; color:{{share[1].year < 0 ? '#fa4b21' : '#67c23a'}};">{{strict(share[1].year)}}%</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2" style="padding-left:0; margin-right: 24px;">
                                                <span style="font-size:12px; opacity:0.4">к плану</span>
                                            </div>
                                            <div class="col-md-2" style="padding-left:0;">
                                                <span style="font-size:12px; opacity:0.4">за год</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of SHARE-->
                                </div>
                                <div class="row" style="height: 140px;">
                                    <div class="col-md-3 my-auto">
                                        <span style="font-size: 24px; font-weight: 500;">Общее число<br/>новых клиентов</span>
                                    </div>
                                    <div class="col-md-3 my-auto" ng-repeat="data in new_sdelki">
                                        <div class="row">
                                            <span style="font-size: 48px;color:#4954DD;" ng-bind-html="abbreviateNumber(data.value, 1)"></span>
                                        </div>
                                        <div class="row" style="height: 24px;">
                                            <div class="col-md-2" style="padding-left:0; margin-right:24px;">
                                                <span class="{{data.plan < 0 ? 'decrease' : 'increase'}}" style="font-size:14px; color:{{data.plan < 0 ? '#fa4b21' : '#67c23a'}};">{{strict(data.plan)}}%</span>
                                            </div>
                                            <div class="col-md-2" style="padding-left:0;">
                                                <span class="{{data.year < 0 ? 'decrease' : 'increase'}}" style="font-size:14px; color:{{data.year < 0 ? '#fa4b21' : '#67c23a'}};">{{strict(data.year)}}%</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2" style="padding-left:0; margin-right: 24px;">
                                                <span style="font-size:12px; opacity:0.4">к плану</span>
                                            </div>
                                            <div class="col-md-2" style="padding-left:0;">
                                                <span style="font-size:12px; opacity:0.4">за год</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- SHARE -->
                                    <div class="col-md-3 my-auto">
                                        <div class="row">
                                            <span style="font-size: 48px;color:#4954DD;" ng-bind-html="percentStyle(share[2].value)"></span>
                                        </div>
                                        <div class="row" style="height: 24px;">
                                            <div class="col-md-2" style="padding-left:0; margin-right:24px;">
                                                <span class="{{share[2].plan < 0 ? 'decrease' : 'increase'}}" style="font-size:14px; color:{{share[2].plan < 0 ? '#fa4b21' : '#67c23a'}};">{{strict(share[2].plan)}}%</span>
                                            </div>
                                            <div class="col-md-2" style="padding-left:0;">
                                                <span class="{{share[2].year < 0 ? 'decrease' : 'increase'}}" style="font-size:14px; color:{{share[2].year < 0 ? '#fa4b21' : '#67c23a'}};">{{strict(share[2].year)}}%</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2" style="padding-left:0; margin-right: 24px;">
                                                <span style="font-size:12px; opacity:0.4">к плану</span>
                                            </div>
                                            <div class="col-md-2" style="padding-left:0;">
                                                <span style="font-size:12px; opacity:0.4">за год</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of SHARE-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#dashboard" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#dashboard" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <img class="logo" src="assets/logo.png"/>
        <div id="footer" style="display: block;">
            <div class="circle"></div>
        </div>
        <script src="app.js"></script>
    </body>
</html>