@media screen and (min-width: 1200px) {
    .container {
        max-width: 85%;
        left:0;
    }

    .progress-row {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .progress-bar {
        margin-top: 8px;
        height: 4px;
        border-radius: 20px;
        background-color: #efefef;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1600px;
        height: 100%;
    }

    .container2 {
        width: 1600px;
        height: 100%;
    }

    .box {
        background-color: #fff;
        margin-top: 24px;
        padding: 40px;
        padding-bottom: 0;
        border-radius: 20px;
        box-shadow: 0 24px 48px 0 rgba(50, 65, 96, 0.1);
    }

    .progress-row {
        margin-top: 80px;
        margin-bottom: 24px;
    }

    .progress-bar {
        margin-top: 8px;
        height: 8px;
        border-radius: 20px;
        background-color: #efefef;
    }

    .product {
        right: 0px;
    }
}

.carousel-inner .carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    position: relative;
    top: 16px;
    z-index: 9999;
}

.container-fluid {
    padding: 0;
}

.box {
    background-color: #fff;
    margin-top: 24px;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 24px 48px 0 rgba(50, 65, 96, 0.1);
}

.box1 {
    margin-top: 24px;
    padding: 24px;
    border-radius: 20px;
}

.circle {
    width: 210px;
    height: 200px;
    background-image: url(assets/ellipse.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom: -50;
}

.label {
    display: inline-block;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    color: #000;
}

.logo {
    position: absolute;
    width: 197px;
    height: 48px;
    bottom: 20px;
    right: 80px;
}

.product {
    position: absolute;
    width: 225px;
    right: 80px;
    text-align: right;
}

.product-oval {
    width: 210px;
    height: 200px;
    background-image: url(assets/ellipse2.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    margin-top: -15;
    z-index: -99;
}

.product-text {
    width: 179px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 900;
    text-align: right;
    line-height: 32px;
    color: #000000;
    z-index: 99;
}

.today {
    display: inline-block;
    z-index: 9999;
}

.today-icon {
    width: 21px;
    height: 24px;
    background-image: url(assets/datepicker.svg);
    position: relative;
    margin-right: 24px;
    display: inline-block;
}

.today-text {
    font-family: Roboto;
    position: relative;
    top: -2px;
    font-size: 24px;
    text-align: left;
    color: #000000;
    display: inline-block;
}

.today-label {
    font-family: Roboto;
    font-size: 24px;
    text-align: left;
    color: #000000;
}

.today-sum {
    font-family: Roboto;
    font-size: 32px;
    text-align: left;
    color: #4954DD;
}

.today-sum1 {
    font-family: Roboto;
    font-size: 32px;
    text-align: left;
    color: #000;
}

.header {
    position: relative;
    left: 80px;
    top: 40px;
}

.progress-value {
    height: 100%;
    border-radius: 20px;
    background-color: #4954dd;
}

.progress-value1 {
    height: 100%;
    border-radius: 20px;
    background-color: #ffcc3a;
}

.progress-value2 {
    height: 100%;
    border-radius: 20px;
    background-color: #fa4b21;
}

.increase {
    position: absolute;
    line-height: 8px;
    color: #4CAF50;
    top: 8px;
}

.increase::before {
    content: "\25b2";/*"\2BC5";*/
    font-size: 16px;
}

.decrease {
    position: absolute;
    line-height: 8px;
    color: #F44336;
    top: 8px;
}

.decrease::before {
    content: "\25bc"; /*"\2BC6";*/
    font-size: 16px;
}